{% if flash is not empty %}
  {% for key, msg in flash %}
  <div id="feedback" class="{{ key }}">
    <a class="dismiss">Dismiss</a>
    <h3>{{ key }}!</h3>
    <p>{{ msg }}</p>
  </div>
  {% endfor %}
{% endif %}